body {
  background: linear-gradient(135deg,#020617,#020617);
  color: #fff;
  font-family: Tahoma;
  text-align: center;
  padding: 30px;
}

.card {
  background: #020617;
  padding: 25px;
  border-radius: 15px;
  width: 320px;
  margin: auto;
}

.circle {
  width: 160px;
  height: 160px;
  border: 6px solid #38bdf8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px auto;
}

.circle span {
  font-size: 40px;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 12px 35px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#status {
  margin-top: 10px;
  color: #38bdf8;
}